doctype html
html
  head
    meta(charset='UTF-8') 
    meta(name='viewport' content='width=device-width, initial-scale=1.0') 
    link(rel='stylesheet' href='/styles.css')
    link(href='https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css2?family=Sono:wght@400;500;600&display=swap' rel='stylesheet')
    title CRM | #{title}

  body
    block login
      block myAccount
        #app-layout
          
          // HEADER
          include _header
          
          // ASIDE
          include _aside
          
          // MAIN
          include _main

    script(src='https://cdn.jsdelivr.net/npm/axios@1.7.4/dist/axios.min.js')
    script(src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js')
    script(type='module' defer src='/js/index.js')
    script(type='module' src='/js/login.js')
    script(type='module' src='/js/updateSettings.js')
    script(type='module' src='/js/alerts.js')
    //- script(src='/js/main.bundle.js')


      
            
