extends base
block login
    .forgotPassword-page
        .forgotPassword-prompt
            img.forgotPassword-logo(src="/assets/img/logo/logo.png" alt="Logo")
            h2 Reset Password

            form.forgotPassword-form
                .form-row-flex
                    label.form-label(for="email") Email Address
                    .mt-2
                        input.form-input(id="email" name="email" type="email" autocomplete="email" required)

                div(style="display:flex; gap:5px; font-size:smaller; justify-content:center;")
                    p Ready to Log In?
                        a(href="/login") Login
                .forgotPassword-form-button
                    button.btn-medium.btn-primary#forgotPassword-submit-button(name="forgotPassword-submit-button") Reset Password
                div(style="display:flex; gap:5px; font-size:smaller; justify-content:center;")
                    p Don't have an account?
                        a(href="/signup") Sign Up