extends base

block content 
    .table-row-horizontal
        h1.heading KnowledgeBase
    .kb-paragraph
        h3 Welcome to CRM
        p Welcome to 
            strong ClientFlow CRM!
            | This CRM is designed to help you manage your clients and tasks efficiently.
        span Our key features include:
        p
            strong Dashboard: 
            | Simplified to focus on its role as a central hub.
        p
            strong Client Management: 
            | Streamlined to emphasize tracking clients and differentiating between all clients and assigned clients.
        p
            strong Calendar: 
            | Made concise while still highlighting the main function of viewing appointments and tasks.
        p
            strong Tasks and Cases: 
            | Combined the key points into a clear description of managing work and scheduling appointments.
    .kb-paragraph
        h3 Workflow
        p
            | This CRM is highly flexible and can be customized to suit various types of businesses. Currently, it is configured specifically for an immigration consultancy agency.
        span Lets take a quick look how it works:
        p
            strong Creating Clients: 
            | Consultants add every potential customer as a lead by Adding Client via form available on
            a(href="#clients") Clients
            | Menu, client name will initially be displayed in green. Once a client agrees to start the visa process, a case is created, and the lead becomes a regular client.
        p
            strong Creating Case: 
            | Each case is created for a client for a specific type of visa and progresses through various stages until the visa is either granted or denied. Case can be created from
            a(href="#cases") Cases
            | section.
        p
            strong Tasks &amp; Appointments: 
            | The
            a(href="#tasks") Tasks
            | section lets you create tasks that can be assigned to colleagues. By checking the Appointment box, a task can be converted into a client appointment. Both tasks and appointments will appear on the calendar on their scheduled dates.
    .kb-paragraph
        h3 Legends
        .legend
            .legend-span
            p Lead: 
            | Client&apos;s name will show in green font until case is created for the client
    .kb-paragraph
        h3 To be continued...
        p This is the MVP (Minimum Viable Product) of our CRM, and development is ongoing.
        h4 Next Steps
        p - Implementing functionality to sort by various columns.
        p - Implementing login and logout functionality
        p - Adding managerial features for managers and assistant managers, including onboarding and offboarding employees
        p - Allowing users to update their display image and name
        p - Additional features will be implemented based on user feedback
        p - The backend will be developed and connected to the database once a potential client is secured for this CRM service
