extends base
block login
    .signin-page
        .signin-prompt
            img.signin-logo(src="/assets/img/logo/logo.png"
        alt="Logo")
            h2 Sign In

            form.signin-form
                .form-row-flex
                    label.form-label(for="email") Email Address
                    .mt-2
                        input.form-input(id="email" name="email" type="email" autocomplete="email" required)

                .form-row-flex
                    label.form-label(for="password") Password
                    .mt-2 
                        input.form-input(id="password" name="password" type="password" autocomplete="password" required)
                div(style="display:flex; gap:5px; font-size:smaller; justify-content:center;")
                    p Forgot Password?
                        a(href="#") Reset
                .signin-form-button
                    button.btn-medium.btn-primary#signin-submit-button(name="signin-submit-button") Sign In
                div(style="display:flex; gap:5px; font-size:smaller; justify-content:center;")
                    p Don't have an account?
                        a(href="#") Sign Up