extends base
block login
    .setNewPassword-page
        .setNewPassword-prompt
            img.setNewPassword-logo(src="/assets/img/logo/logo.png" alt="Logo")
            h2 Create New Password

            form.setNewPassword-form
                .form-row-flex
                    label.form-label(for="password") Password
                    .mt-2
                        input.form-input(id="password" name="password" type="password" required)

                .form-row-flex
                    label.form-label(for="passwordConfirm") Confirm Password
                    .mt-2 
                        input.form-input(id="passwordConfirm" name="passwordConfirm" type="password" autocomplete="password" required)
                div(style="display:flex; gap:5px; font-size:smaller; justify-content:center;")
                    p Ready to Log In?
                        a(href="/login") Login
                .setNewPassword-form-button
                    button.btn-medium.btn-primary#setNewPassword-submit-button(name="setNewPassword-submit-button") Create Password
                div(style="display:flex; gap:5px; font-size:smaller; justify-content:center;")
                    p Don't have an account?
                        a(href="/signup") Sign Up